name: Test TypeScript

on:
  workflow_call:
    inputs:
      working-directory:
        required: false
        type: string
        default: "."

permissions:
  contents: read

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: @@JOB_TIMEOUT_MINUTES@@
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    steps:
      - uses: actions/checkout@3d3c42e5aac5ba805825da76410c181273ba90b1 # v7
        with:
          persist-credentials: false

      - uses: ./.github/actions/setup-ts
        with:
          working-directory: ${{ inputs.working-directory }}

      - name: Test
        run: bun test
