{
  "$schema": "https://inlang.com/schema/project-settings",
  "baseLocale": "@@BASE_LOCALE@@",
  "locales": @@LOCALES_JSON@@,
  "modules": [
    "@@INLANG_MESSAGE_FORMAT_MODULE_URL@@"
  ],
  "plugin.inlang.messageFormat": {
    "pathPattern": "./messages/{locale}.json"
  }
}
