{
  "$schema": "https://biomejs.dev/schemas/@@BIOME_VERSION@@/schema.json",
  "vcs": {
    "enabled": true,
    "clientKind": "git",
    "useIgnoreFile": true
  },
  "formatter": {
    "enabled": true,
    "indentStyle": "space",
    "indentWidth": 2,
    "lineWidth": 100
  },
  "assist": {
    "actions": {
      "source": {
        "organizeImports": "on"
      }
    }
  },
  "javascript": {
    "formatter": {
      "quoteStyle": "double"
    }
  },
  "linter": {
    "enabled": true,
    "rules": {
      "preset": "none",
      "correctness": {
        "noUndeclaredDependencies": "error"
      },
      "style": {
        "noParameterProperties": "error"
      }
    }
  },
  "css": {
    "linter": {
      "enabled": true
    }
  },
  "json": {
    "linter": {
      "enabled": true
    }
  }
}
